body {
    font-family: "avenir next", Arial, sans-serif;
    font-size: 12px;
    color: #696969;
    margin: 100px;
    padding-right: 200px;
}

h2 {
    font-size:36px;
}

p {
    font-size: 14px;
}

.ticks {
    font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #ddd;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}

.control-group {
    padding-top: 10px;
    margin: 10px;
    padding-right: 0px;
    padding-left: 40px;
}

.selected {
    background-color: #f08080;
}

#play-button {
    background: #f08630;
    display:inline-block;
    margin-right:10px;
    border-radius: 3px;
    border: none;
    color: white;
    margin-left: 40px;
    padding: 0 12px;
    width: 60px;
    cursor: pointer;
    height: 30px;
    vertical-align: top;
    margin-top: 20px;
  }

  #play-button:hover {
    background-color: #696969;
  }

#slider {
    display:inline-block;
}

.reset {
    margin-left: 170px;
    margin-bottom: 100px;
}

.control {
    background: #f08630;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 0 12px;
    cursor: pointer;
    height: 30px;
    font-family: "avenir next", Arial, sans-serif;
  }

  .control:hover, button.active {
    background-color: #696969;
  }

  .control-group {
    padding-left: 110px;
  }

  .stats-group {
    position: absolute;
    margin-left: 50px;
    z-index: 3;
  }

#par-coor{
    padding-top: 50px;
    padding-bottom: 50px;
}



.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: #ffaf81;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  fill: black;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
  font-family: "avenir next", Arial, sans-serif;
  font-size: 12px;
}

#map { 
    width: 925px; 
    height: 500px;
    margin-left: 40px;
    margin-bottom: 40px;
    z-index: 1;
}

